doctype html
html
	head
		meta(charset="utf-8")
		meta(name="yandex-verification" content="bf5527afb5e21d5e")
		title|Дураева Дарья, парикмахер - стилист
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="/libs/foundation/foundation.min.css")
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	body
		.body_wrapper
			.header_wrapper
				.header__avatar_wrapper.small-12.large-6
					.header__avatar
				.header__info_wrapper.small-12.large-6
					.header__info__name| Дураева Дарья
					.header__info__title|Парикмахер - стилист
					.header__info__about|Здравствуйте я молодой специалист в индустрии красоты 
						br
						|Рада предложить Вам следующие услуги: 
						br
						|- биоламинирование волос 
						br
						|- полировка 
						br
						|- экранирование 
						br
						|- ламинирование 
						br
						|- кератиновое выпрямление (восстановление) 
						br
						|- стрижка (женская, мужская, детская); 
						br
						|- косы любой сложности; 
						br
						|- обрезной маникюр, педикюр и покрытие гель-лаком
						br
					a.header__info__services.center(href="tel:+79339964642")|Позвонить
					.header__info__contacts
		block content
		block footer
			.footer_wrapper
				a.item(href="https://vk.com/zayu96" target="_blank")
					i.fa.fa-vk
				a.item(href="http://instagram.com/ms_s_dari_r" target="_blank")
					i.fa.fa-instagram
				.item|+7-(933)-996-46-42
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="/js/main.js")
		block js_extra
		script.
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter43050549 = new Ya.Metrika({
							id:43050549,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true
						});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/43050549" style="position:absolute; left:-9999px;" alt="" )