extends _layout
block content
	.services_wrapper.large-12.small-12
		.services__title.large-12.small-12|Прайслист
		.services__content.large-12.small-12
			.services__item.large-2.small-12
				.services__item__image.female-haircut
				.services__item__description|Женская стрижка
				.services__item__price|400 - 1000 р
			.services__item.large-2.small-12
				.services__item__image.male-haircut
				.services__item__description|Мужская стрижка
				.services__item__price|350 - 600 р
			.services__item.large-2.small-12
				.services__item__image.biolaminating
				.services__item__description|Биоламинирование
				.services__item__price|каре 500 р., до лопаток - 750 р., ниже лопаток 1000 р.
			.services__item.large-2.small-12
				.services__item__image.ceratin
				.services__item__description|Кератиновое восстановление
				.services__item__price|от 1000 р.
			.services__item.large-2.small-12
				.services__item__image.ceratin
				.services__item__description|Полировка
				.services__item__price|300 р.
			.services__item.large-2.small-12
				.services__item__image.ceratin
				.services__item__description|Экранирование
				.services__item__price|400 р.
	.video_wrapper
		video.video_container(controls src="/assets/video.mp4" type="video/mp4" codecs="avc1.42E01E, mp4a.40.2")
		.video_info|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, nemo velit rem eaque. Unde blanditiis ipsum est quas dolorum. Culpa obcaecati, voluptas vero, non officiis tempora tempore exercitationem iusto sapiente!
			|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, nemo velit rem eaque. Unde blanditiis ipsum est quas dolorum. Culpa obcaecati, voluptas vero, non officiis tempora tempore exercitationem iusto sapiente!
			|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, nemo velit rem eaque. Unde blanditiis ipsum est quas dolorum. Culpa obcaecati, voluptas vero, non officiis tempora tempore exercitationem iusto sapiente!
			|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, nemo velit rem eaque. Unde blanditiis ipsum est quas dolorum. Culpa obcaecati, voluptas vero, non officiis tempora tempore exercitationem iusto sapiente!


